<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="parallax"><img src="{{ eatery.image }}">
    </div>
  </div>
</div>

<div class="container">
  <div class="section">

    <div class="fixed-action-btn">
      <a class="btn-floating btn-large pink">
          <i class="large material-icons">face</i>
        </a>
      <ul>
        <li><button class="btn-floating red accent-3" id="bookmarkButton" data-id="{{ eatery._id }}"><i class="material-icons">favorite_border</i></button></li>
        <li><a class="btn-floating indigo" href="/ratings/{{ eatery._id }}"><i class="material-icons">edit</i></a></li>
      </ul>
    </div>

    <nav>
      <div class="nav-wrapper white">
        <ul id="nav-mobile">
          <li><a href="#about">About</a></li>
          <li><a href="#reviews">Reviews</a></li>
          <li><a href="#location">Location</a></li>
        </ul>
      </div>
    </nav>

    <h2><b>{{ eatery.name }}</b></h2>

    <div class="row">
      <div class="col s6 m2">
        <h6>{{ eatery.area }}</h6>
      </div>

      <div class="col s6 m2">
        {{!-- eatery.rating --}}
      </div>
    </div>

    <div class="divider"></div>

    <div id="about">
      <h5><b>About</b></h5>
      <div class="row">

        <div class="col s4 m2">
          <h6>Status</h6>
        </div>
        <div class="col s8 m10">
          <h6>{{ eatery.status }}</h6>
        </div>

        <div class="col s4 m2">
          <h6>Address</h6>
        </div>
        <div class="col s8 m10">
          <h6>{{ eatery.address }}</h6>
        </div>

        <div class="col s4 m2">
          <h6>Cuisine</h6>
        </div>
        <div class="col s8 m10">
          <h6>{{ eatery.cuisine }}</h6>
        </div>

        <div class="col s4 m2">
          <h6>Website</h6>
        </div>
        <div class="col s8 m10">
          <a href= {{ eatery.website }}><h6>{{ eatery.website }}</h6></a>
        </div>

      </div>
    </div>

    <div class="divider"></div>

    <div id="reviews">
      <h5><b>Reviews</b><span class="new badge red" data-badge-caption="Work in Progress"></span></h5>


      <div class="row">

        <div class="col s4 m2">
          <h6>Ambience</h6>
        </div>
        <div class="col s8 m10">
          <h6>{{ rating.ambience }}5</h6>
        </div>

        <div class="col s4 m2">
          <h6>Food</h6>
        </div>
        <div class="col s8 m10">
          <h6>{{ rating.food }}4</h6>
        </div>

        <div class="col s4 m2">
          <h6>Location</h6>
        </div>
        <div class="col s8 m10">
          <h6>{{ rating.location }}3</h6>
        </div>

        <div class="col s4 m2">
          <h6>Service</h6>
        </div>
        <div class="col s8 m10">
          <h6>{{ rating.service }}4</h6>
        </div>

        <div class="col s4 m2">
          <h6>Value For Money</h6>
        </div>
        <div class="col s8 m10">
          <h6>{{ rating.valueForMoney }}3</h6>
        </div>

        <div class="col s4 m2">
          <h6>Overall</h6>
        </div>
        <div class="col s8 m10">
          <h6>{{ rating.overall }}4</h6>
        </div>

      </div>
    </div>

    <div class="divider"></div>

    <div id="location">
      <h5><b>Location</b></h5>
      <div id="map" class="container">
      </div>
      <br>
    </div>

  </div>
</div>

<script>var eatery = {{{toJSON eatery}}}</script>
<script async src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_KEY}}&language=en&region=SG&callback=initMap">
</script>
